Cache/Cache.ServerClient/Service References/ServiceReference/ServerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:808/ServerService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:808/ServerService?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="http://localhost:808/ServerService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Server.Service" />
  <xs:import schemaLocation="http://localhost:808/ServerService?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Server.Service.Dtos" />
  <xs:element name="GetFileNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetFileNamesResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/Message" name="DownloadFileResult" type="q2:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsCurrentVersionOfFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hashOfCachedFile" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsCurrentVersionOfFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Server.Service" minOccurs="0" name="IsCurrentVersionOfFileResult" type="q3:FileCurrentVersionStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpdatedChunks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Server.Service.Dtos" minOccurs="0" name="cahceChunks" nillable="true" type="q4:ArrayOfCachedChunkDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpdatedChunksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Server.Service.Dtos" minOccurs="0" name="GetUpdatedChunksResult" nillable="true" type="q5:ArrayOfDifferenceChunkDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>