Cache/Cache.ServerClient/Service References/ServerServiceReferences/ServerService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.Service.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.Service.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCachedChunkDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CachedChunkDto" nillable="true" type="tns:CachedChunkDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCachedChunkDto" nillable="true" type="tns:ArrayOfCachedChunkDto" />
  <xs:complexType name="CachedChunkDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CachedFileChunkLocation" type="xs:long" />
      <xs:element minOccurs="0" name="ChunkHash" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CachedChunkDto" nillable="true" type="tns:CachedChunkDto" />
  <xs:complexType name="ArrayOfDifferenceChunkDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DifferenceChunkDto" nillable="true" type="tns:DifferenceChunkDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDifferenceChunkDto" nillable="true" type="tns:ArrayOfDifferenceChunkDto" />
  <xs:complexType name="DifferenceChunkDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CachedFileChunkNumber" type="xs:long" />
      <xs:element minOccurs="0" name="ChunkInformation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurentFileChunkNumber" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DifferenceChunkDto" nillable="true" type="tns:DifferenceChunkDto" />
</xs:schema>